<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Barra de progreso</h4>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.ariaValuenow]="percentage1" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" [style.width]="percentage1 + '%'" style="width: 50%"></div>
                </div>
                <br>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" [attr.ariaValuenow]="percentage2" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" [style.width]="percentage2 + '%'" style="width: 50%"></div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
            <app-incrementador (changeV)="percentage1 = $event" name="Progress blue" [percentage]="percentage1"></app-incrementador>

            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
              <app-incrementador (changeV)="percentage2 = $event" name="Progress green"  [percentage]="percentage2"></app-incrementador>
            </div>
        </div>
    </div>
</div>
