<div class="row animated fadeIn">
  <div class="col-lg-7">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Profile user</h4>
        <h6 class="card-subtitle">Profile user</h6>
        <form ngNativeValidate #f="ngForm" (ngSubmit)="save(f.value)" class="form p-t-20">
          <div class="form-group">
            <label >User Name</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-user"></i></div>
              <input [ngModel]="user.name" name="name" type="text" class="form-control"  placeholder="Username" required>
            </div>
          </div>
          <div class="form-group">
            <label >Email address</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-email"></i></div>
              <input [ngModel]="user.email" name="email" type="email" class="form-control" placeholder="Enter email" required>
            </div>
          </div>
          <button type="submit" class="btn btn-success waves-effect waves-light m-r-10"><i class="fa fa-save">Save</i></button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-lg-5">
    <div class="card">
      <div class="card-body" align="center">
        <h4 class="card-title">Picture user</h4>
        <h6 class="card-subtitle">{{user.name}}</h6>
        <img *ngIf="!imageTemp" [src]="user.image | imagen" class="w150">
        <img *ngIf="imageTemp" [src]="imageTemp" class="w150">
        <br>
        <br>
        <input (change)="selectImage( $event.target.files[0] )" type="file">
        <br>
        <br>
        <button (click)="changeImage()" [disabled]="!uploadImage" type="submit" class="btn btn-block btn-success waves-effect waves-light m-r-10"><i class="fa fa-save">Update picture</i></button>
      </div>
    </div>
  </div>
</div>
